<div class="row">
    <div class="offset2 span8">
    <h2>Server info</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Keys</th>
                <th>Values</th>
            </tr>
        </thead>
        <tbody>
        <% @info.each_with_index do |(key, value), idx| %>
            <tr>
                <td><%= idx%></td>
                <td><%= key%></td>
                <td><%= value%></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    </div>
</div>
