<div class="row">
  <div class="offset2 span8">
    <h2>Please login</h2>
    <form method="post" action="/login/" class="well">
        <label for="host">Host</label> <input name="host" type="text" value="127.0.0.1">
        <label for="port">Port</label> <input name="port" type="text" value="6379">
        <label for="Password">Password</label> <input name="password" type="password" value="" placeholder="Password">
        <span class="help-block">Optional authentication. May be required by your server.</span>
        <p><button type="submit" class="btn btn-primary">Connect</button></p>
    </form>
    </div>
</div>
